@page "/products"
@using RealWorld.Models
@using RealWorld.Services
@inject IProductService Api

<h3>List of Products</h3>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else if (products.Count == 0)
{
    <p>No products found.</p>
}
else
{
    <ul>

        @foreach (var product in products)
        {
            <li>@product.Name @product.Code @product.Description</li>
        }
    </ul>
}



@code {

    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await Api.GetAllAsync();
    }

}
