@using RealWorld.Models
@typeparam T


@if (Items == null)
{
    <LoaderComponent Message="Loading items...">
        <img src="https://placehold.co/300x150" />
    </LoaderComponent>
}
else if (Items.Count == 0)
{
    <p>No items found.</p>
}
else
{
    @ChildContent(Items)
}

@code {

    [Parameter, EditorRequired]
    public required List<T> Items { get; set; } 

    [Parameter]
    public required RenderFragment<List<T>> ChildContent { get; set; }

}
