
<p class="text-@Theme"><em>@Message</em></p>

@ChildContent

@code {

    [Parameter, EditorRequired]    
    public required string Message { get; set; } 

    [Parameter] 
    public RenderFragment? ChildContent { get; set; }  // ChildContent - special name

    [CascadingParameter]
    public string Theme { get; set; } = "light"; // Default value

}
