
<p><em>@Message</em></p>

@Content


@code {

    [Parameter, EditorRequired]    
    public required string Message { get; set; } 

    [Parameter]
    public RenderFragment? Content { get; set; }

}
