<div class="nav-item px-3">
    <NavLink class="nav-link" href="@Href" Match="@Match">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Title
    </NavLink>
</div>

@code {

    [Parameter, EditorRequired]
    public required string Href { get; set; }

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    // [Parameter, EditorRequired]
    // public required string Icon { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

}
