<!-- Search Panel -->
<div>
    <form>
        <label for="searchText">Type search text:</label>
        <input type="text" id="searchText" @ref=@searchTextReference @bind=@SearchText @bind:event="oninput" @bind:after=@HandleSearch />
        <button type="button" @onclick="@HandleSearch">Search</button>
    </form>
</div>


@code 
{
    private string SearchText = string.Empty;

    private ElementReference searchTextReference;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task HandleSearch()
    {
        await ValueChanged.InvokeAsync(SearchText);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchTextReference.FocusAsync();
        }
    } 
}