@page "/customers"
@using RealWorld.Models
@inject HttpClient Client


<h3>List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.FirstName @customer.LastName</li>
    }
</ul>


@code {

    private List<Customer> customers = new List<Customer>();

    // [Inject]
    // private HttpClient Client { get; set; }

    protected override async Task OnInitializedAsync()
    {        
        customers = await Client.GetFromJsonAsync<List<Customer>>("api/customers");            
    }

}
