@page "/customers"
@using RealWorld.Models
@inject HttpClient Client


<h3>List</h3>

<ul>
    @foreach (var customer in customers)
    {
        <li>@customer.FirstName @customer.LastName</li>
    }
</ul>

