@page "/customers"
@using RealWorld.Models
@using RealWorld.Services
@using RealWorld.Shared
@inject ICustomerService Api

<h3>List of Customers</h3>

@if (customers == null)
{
    <LoaderComponent Message="Loading customers..." />
}
else if (customers.Count == 0)
{
    <p>No customers found.</p>
}
else
{
    <ul>

        @foreach (var customer in customers)
        {
            <li>@customer.FirstName @customer.LastName</li>
        }
    </ul>
}



@code{
    private List<Customer> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Api.GetAllAsync();
    }
}