@page "/customers"
@inject ICustomerService Api

<h3>List of Customers</h3>

<ListItemsComponent Items="@customers">
    <ItemTemplate>
        <li>@context.FirstName @context.LastName</li>
    </ItemTemplate>
</ListItemsComponent>

@code{
    private List<Customer> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Api.GetAllAsync();
    }
}